#page-admin-local-bs_badge_pool-about .about-box {
    margin-top: 50px;
}

#page-admin-local-bs_badge_pool-about .about-text,
#page-admin-local-bs_badge_pool-about .donation-text {
    margin-bottom: 12px;
}

#page-admin-local-bs_badge_pool-about .donation-button {
    margin-bottom: 8px;
}